name: Build Plugins

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Plugins
        run: dotnet publish -c Release src

      - name: Upload All Plugin Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: plugins
          path: |
            src/**/bin/x64/Release/net10.0/publish/
